# IntelliJ
.idea/
*.iml

# Build output
/out/
build/
target/
*.class

# Sistema operativo
.DS_Store
Thumbs.db

# Exclude sombras
resources/sombras/

# Exclude Recuperado.bmp
resources/recuperado.bmp
resources/recovered/

# Eclude bin
bin/